<nav>
    <div class="site-title">
        <a href="/"><h1>MERN Blog</h1></a>
        <p>A MERN EXPERT SITE</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>