<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, nobis eligendi incidunt ipsam tempore cupiditate placeat natus corrupti, laboriosam impedit quis veniam ut illo quae aliquid neque voluptatem at obcaecati!
        Mollitia quam sunt commodi ipsam optio veniam tenetur nisi suscipit minima possimus officiis rerum animi, neque id ullam distinctio velit repudiandae cumque. Quia maxime, perspiciatis saepe dolor architecto eveniet totam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, nobis eligendi incidunt ipsam tempore cupiditate placeat natus corrupti, laboriosam impedit quis veniam ut illo quae aliquid neque voluptatem at obcaecati!
        Mollitia quam sunt commodi ipsam optio veniam tenetur nisi suscipit minima possimus officiis rerum animi, neque id ullam distinctio velit repudiandae cumque. Quia maxime, perspiciatis saepe dolor architecto eveniet totam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, nobis eligendi incidunt ipsam tempore cupiditate placeat natus corrupti, laboriosam impedit quis veniam ut illo quae aliquid neque voluptatem at obcaecati!
        Mollitia quam sunt commodi ipsam optio veniam tenetur nisi suscipit minima possimus officiis rerum animi, neque id ullam distinctio velit repudiandae cumque. Quia maxime, perspiciatis saepe dolor architecto eveniet totam.</p>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>